{% extends 'base.html' %}

{% block title %}Products List{% endblock title %}

{% block content %}

    <a class="btn btn-md btn-success" href="{{ url_for('product_add') }}"><span class="glyphicon glyphicon-plus-sign"></span> New Product</a>

    <hr/>

    <div class="table-responsive">

        <table class="table table-bordered table-hover table-responsive">
            <caption>Products list</caption>
            <thead>
                <tr class="row text-center bold">
                    <td>Product No</td>
                    <td>Product Name</td>
                    <td>Language</td>
                    <td>Framework</td>
                    <td>VCS</td>
                    <td>Deploy Steps</td>
                    <td>Maintain Steps</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr class="row text-center">
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.language }}</td>
                        <td>{{ product.framework }}</td>
                        <td>{{ product.vcs_repo_base }}</td>
                        <td>{{ product.deploy_steps }}</td>
                        <td>{{ product.maintain_steps }}</td>
                        <td><a class="btn btn-warning glyphicon glyphicon-edit" href="{{ url_for('product_edit', product_id=product.id) }}"> Edit</a><hr/><a class="btn btn-danger glyphicon glyphicon-trash" href="{{ url_for('product_delete', product_id=product.id) }}"> Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').dataTable();
        });
    </script>
{% endblock js %}