{% extends 'base.html' %}

{% block title %}Delete Product{% endblock title %}

{% block content %}

    {%- if product -%}
    <h1 class="text-danger">Are you sure, you want to delete this Product?</h1>
    <hr/>
    <button class="btn btn-lg btn-danger">Confirm Delete</button>
    {%- else -%}
    <h1 class="well text-danger">Sorry, no such product.</h1>
    {%- endif -%}
{% endblock content %}


{% block js %}
    <script type="text/javascript">
    $(document).ready(function (){
        var btn = $('button.btn');
        btn.click(function (){
            $.ajax({
                url: location.href,
                success: function (){
                    alert('Product Deleted Successfully!');
                    location.replace('{{ url_for('products_list') }}');
                },
                error: function () {
                    alert('Error deleting product!');
                }
            })
        });

    });
    </script>

{% endblock js %}