{% extends 'base.html' %}

{% block title %}Project Details{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/terminal.css') }}"/>
{% endblock css %}

{% block content %}
    <h3>Project Information</h3>
    <div class="panel panel-primary">
        <div class="panel-heading bold">Project Name: {{ project.name }}</div>
        <div class="panel-body bold">
            <p>Client: {{ project.client_name }}</p>
            <p>Product Type: {{ project.product_type }}</p>
            <p>Project Location: {{ project.project_dir }}</p>
            <p>Project Repository: {{ project.vcs_repo }}</p>
            <p>Project Database: mysql://{{ project.mysql_db_name }}</p>
        </div>


        <div class="panel-footer">
            {% if project_status == 'SUCCESS' %}
                <span class="">Project already deployed successfully on </span>
                <p class="btn btn-danger">{{ project.server_id }}</p>
            {% elif project_status == 'PENDING' %}
                <span class="alert alert-danger">Project Deployment is queued on</span>
                <p class="btn btn-danger">{{ project.server_id }}</p>
            {% elif project_status == 'STARTED' %}
                <span class="alert alert-danger">Project Deployment is running on</span>
                <p class="btn btn-danger">{{ project.server_id }}</p>
            {% elif project_status == 'FAILURE' %}
                <span class="alert alert-danger">Project Deployment Failed!! Check machine: </span>
                <p class="btn btn-danger">{{ project.server_id }}</p>
            {% elif project_status == 'HAULTED' %}
                <span class="alert alert-danger">Project Deployment Haulted!! Celery server was stopped. Check: </span>
                <p class="btn btn-danger">{{ project.server_id }}</p>
            {% else %}
{#                {% if not project.is_deployed %}#}
                    <a class="btn btn-lg btn-danger" id="deploy">Deploy</a>
{#                {% endif %}#}
            {% endif %}
        </div>
    </div>

    <hr/>

    <div id="deployment" class="jumbotron center-block" style="display: none;"></div>

    <div class="window" style="display: none;">
        <nav class="control-window">
            <a href="#" class="exit">Close</a>
            <a href="#" class="minimize">Minimize</a>
            <a href="#" class="maximize">Maximize</a>
            <a href="#" class="deactivate">Deactivate</a>
        </nav>
        <h1 class="titleInside">Secure SHell</h1>

        <div class="shell-container">
            <div class="terminal">
            </div>
        </div>
    </div>
{% endblock content %}


{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/project_deploy.js') }}"></script>
    <script type='text/javascript'>
        $(document).ready(function () {
            var spinner = $('<img src="/static/imgs/loader.gif" width="100" class="center-block"/>');
            var message = $('<h3 class="well well-lg center-block">Starting.....</h3>');

            var project_state = '{{ project_status }}';

            if (project_state=='SUCCESS') {
                $('div#deployment').css('display','block');
                $('<h1 class="panel-heading panel-success glyphicon glyphicon-ok"></h1>').text(' Success!').appendTo('div#deployment');
            }
            else if (project_state=='STARTED' || project_state == 'PENDING') {
                $('div#deployment').css('display', 'block');
                //re-append the completed task states div and continue ajaj request retrieval
                $('#deployment').append(spinner);
                $('#deployment').append(message);
                //$('div.window').css('display', 'block');
                update_progress('/status/{{ project.celery_task_id }}', spinner, message);

            }
            else if (project_state == 'WAITING') {
                // button is shown, clicking on it starts ajaj
                $('#deploy').click(function () {
                    $('div#deployment').css('display', 'block');
                    //$('div.window').css('display', 'block');
                    $(this).hide();
                    project_deploy({{ project.id }}, '{{ project.product_type }}', spinner, message);
                });
            }
            else if (project_state=='FAILURE' || project_state == 'HAULTED') {
                $('div#deployment').css('display','block');
                $('<h1 class="panel-heading panel-success glyphicon glyphicon-remove"></h1>').text(' Failure!').appendTo('div#deployment');
            }
        });
    </script>
{% endblock js %}