{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}

{% from "_macros.html" import render_field_with_errors, render_field %}
{#{% include "security/_messages.html" %}#}
<h1>Change Password</h1>
<hr/>
<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form" role="form">
    {{ change_password_form.hidden_tag() }}
    <div class="form-group">
    {{ render_field_with_errors(change_password_form.password, class_='form-control') }}
    </div>
    <div class="form-group">
    {{ render_field_with_errors(change_password_form.new_password, class_='form-control') }}
    </div>
    <div class="form-group">
    {{ render_field_with_errors(change_password_form.new_password_confirm, class_='form-control') }}
    </div>
    <hr/>
    {{ render_field(change_password_form.submit, class_='btn btn-danger btn-lg') }}
</form>
<br/>
{% endblock content %}