<h2>Documentation</h2>
<p>Prerequisite</p>
<ul>
    <li>Log in or Register with the system first</li>
    <li>Apply for a Role to the Administration to manage projects: <code>Settings -> My Profile -> Request to Administrator for Roles</code></li>
</ul>
<p>Deploy</p>
<ol>
    <li>Add Server Machine if not added: <code>Host Machines -> Add New Host</code></li>
    <li>Add Project information: <code>Projects -> Create New Project</code></li>
    <li>Deploy Project: <code>Projects -> Deploy a Project -> Select which project to deploy</code></li>
</ol>
<p>Special</p>
<ol>
    <li>Add new Office Product / View available products: <code>Products</code></li>
    <li>Execute single commands or tasks: <code>Tasks</code></li>
</ol>