{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="jumbotron">
        <h1>Launcher</h1>
        <p>System Administration Automation</p>
        <ul>
            <li>Deploy</li>
            <li>Manage</li>
            <li>Monitor</li>
        </ul>

        <br/>
        <hr/>
        <h3>Credits:</h3>
{#        <ul class="list-unstyled">#}
{#            <li><img src="http://flask.pocoo.org/static/logo/flask.png" width="200"/></li>#}
{#            <li><img src="https://pythonhosted.org/Flask-Security/_static/logo-helmet.png" width="50"/></li>#}
{#        </ul>#}
        <span><abbr title="Python"><img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM.png" width="300"/></abbr></span>
        <br/>
        <span><abbr title="Flask"><img src="http://flask.pocoo.org/static/logo/flask.png" width="200"/></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span><abbr title="Jinja"><img src="http://jinja.pocoo.org/docs/dev/_static/jinja-small.png" width="90"/></abbr></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span><abbr title="SQLAlchemy"><img src="https://pythonhosted.org/Flask-SQLAlchemy/_static/flask-sqlalchemy-small.png" width="100"/></abbr></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span><abbr title="Flask-Security"><img src="https://pythonhosted.org/Flask-Security/_static/logo-helmet.png" width="75"/></abbr></span>


        <br/>
        <span><abbr title="Fabric"><img src="http://www.fabfile.org/_static/logo.png" width=""/></abbr></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span><abbr title="Celery"><img src="https://camo.githubusercontent.com/5f14c92c47bdec6f6f742c8b3bb55a434a344d98/687474703a2f2f636c6f75642e6769746875622e636f6d2f646f776e6c6f6164732f63656c6572792f63656c6572792f63656c6572795f3132382e706e67" width=""/></abbr></span>
    </div>
{% endblock content %}

