{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="jumbotron">
        <h1>Launcher</h1>
        <p>System Administration Automation</p>
        <ul>
            <li>Deploy</li>
            <li>Manage</li>
            <li>Monitor</li>
        </ul>

        <br><br>
        <button id="start-bg-job">Start Long Calculation</button>
        <br><br>

        <div id="progress"></div>
{#    <p><input type="text" size="5" name="a"> +#}
{#        <input type="text" size="5" name="b"> =#}
{#        <span class="result">?</span>#}
{#    <button type="button" class="calculate">Calculate</button>#}
    </div>
{% endblock content %}

{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ajaj.js') }}"></script>
{% endblock js %}