{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="jumbotron">
        {% if not current_user.is_authenticated() %}
        <h2 class="well">Please, <a href="{{ url_for_security('login') }}" class="btn btn-warning btn-lg">Log in</a> to continue with......</h2>
        {% endif %}
        <h1>Launcher</h1>
        <p>System Administration Automation</p>
        <ul>
            <li>Deploy</li>
            <li>Manage</li>
            <li>Monitor</li>
        </ul>

        <br/>
        <button id="show-docs" class="btn btn-lg btn-success">How to use?</button>
        <div id="docs">
            {% include 'documentation.html' %}

        </div>

        <hr/>

        <button id="show-credits" class="btn btn-lg btn-info">Credits</button>
        <div id="credits">
            {% include 'credits.html' %}
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/launcher.js') }}"></script>
{% endblock js %}
