{% extends 'base.html' %}

{% block title %}Project Deploy{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/terminal.css') }}"/>
{% endblock css %}

{% block content %}
    <h3>Project Information</h3>
    <div class="panel panel-primary">
        <div class="panel-heading">Project Name: {{ project.name }}</div>
        <div class="panel-body">
            <p>Client: {{ project.client_name }}</p>
            <p>Project Location: {{ project.project_dir }}</p>
            <p>Project Repository: {{ project.vcs_repo }}</p>
            <p>Project Database: {{ project.mysql_db_name }}</p>
        </div>
        <div class="panel-footer">
            <button class="btn btn-danger" id="deploy">Deploy</button>
        </div>
    </div>

    <hr/>

    <div class="window">
        <nav class="control-window">
            <a href="#" class="exit">Close</a>
            <a href="#" class="minimize">Minimize</a>
            <a href="#" class="maximize">Maximize</a>
            <a href="#" class="deactivate">Deactivate</a>
        </nav>
        <h1 class="titleInside">Secure SHell</h1>

        <div class="shell-container">
            <div class="terminal">
                <p class="command">$~> Terminal Ready!</p>
            </div>
        </div>
    </div>
{% endblock content %}


{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/project_deploy.js') }}"></script>
    <script type='text/javascript'>
        $(document).ready(function () {
            $('#deploy').click(function () {
                project_deploy({{ project.id }});
            });
        });

    </script>
{% endblock js %}