{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

    <table class="table table-bordered table-hover table-responsive container-fluid">
        <caption>Tasks list</caption>
        <thead>
            <tr class="row">
                <td>Task No</td>
                <td>Task Name</td>
                <td>Description</td>
                <td>Command</td>
                <td>Parameters</td>
                <td>Switches</td>
                <td>Arguments</td>
                <td>Stage</td>
                <td>Execute?</td>
            </tr>
        </thead>
        <tbody>
            <tr class="row">
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.cmd }}</td>
                <td>{{ task.params }}</td>
                <td>{{ task.switches }}</td>
                <td>{{ task.arguments }}</td>
                <td>{{ task.stage }}</td>
                <td><a href="{{ url_for('task_detail', task_id=task.id) }}">OK</a></td>
            </tr>
        </tbody>
    </table>

    <form action="#" method="post" role="form">
        {{ form.csrf_token }}
        {% for field in form %}
            {% if not field==form.csrf_token %}
                <div class="form-group">
                    {{ field.label }}: {{ field(class_='form-control') }}
                    <br/>
                </div>
            {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-default">Execute</button>
    </form>
{% endblock content %}